/* Styling for the body */
body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* Form styling */  
form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 10px;
}

/* Input type text and password styling */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Input type submit styling */
input[type="submit"] {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1379cd;
}

/* Link Styling */
a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-left:700px;
}

a:hover {
  color: #0056b3;
}
